/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.custom-button {
    background-color: #cdeeec;
    border-color: #cdeeec;
    color: #0c6e68;
}

.input-custom:focus {
    box-shadow: 0 0 0 0.25rem #cdeeec;
    border-color: #bce4e2;
}

.dark-button {
    background-color: #68B0AB;
    border-color: #68B0AB;
    color: white
}

/* .custom-button {
    background-color: #68B0AB;
    border-color: #68B0AB;
    color: white;
} */

.custom-button:hover {
    background-color: #128179;
    border-color: #128179;
    color: white;
}

.card-body-custom {
    text-decoration: none;
    color: black;
}

.link-like:hover {
    text-decoration: underline;
    color: #0c6e68;
}

.link-like {
    color: #68B0AB;
    text-decoration: none;

}

.filter-link {
    color: #0c6e68;


}

.custom-bg-img {
    background-color: #68B0AB;
}

/* Not using this one
  .navbar-custom {
    background-color: #C8D5B9;
} */

.background-custom {
    background-color: #68B0AB;
    color: white;
}

.background-dark {
    background-color: #128179;
}

.nav-custom {
    color: #128179;
    background-color: #cdeeec;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-color: #ffffff;


}

.nav-custom:hover {
    color: #ffffff;
    background-color: #68B0AB;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-color: #ffffff;


}

.nav-custom:active {
    color: #ffffff;
    background-color: #68B0AB;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-color: #ffffff;

}

.nav-custom .nav-link.active {
    color: #ffffff;
    background-color: #68B0AB;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-color: #ffffff;

}

.custom-checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #68B0AB;
    border-radius: 3px;
    outline: none;
    transition: border-color 0.3s;
}

/* I want to change the color surrounding the checkbox when you click it but it's not like this!*/
.custom-checkbox:click {
    box-shadow: 0 0 2px 2px #68B0AB;
}

.custom-checkbox:checked {
    background-color: #68B0AB;
    border-color: #68B0AB;
}

.profile-container {
    margin-top: 8vw;
}

.landing-background {
    background: linear-gradient(90deg, #128179 38%, #68B0AB 85%, #cdeeec 100%);
    background-size: contain;
    background-position: center;
    background-blend-mode: overlay;
    opacity: 0.8;
    /* Adjust the opacity value as desired */
}

.image-background {
    background: url('https://res.cloudinary.com/dfihuo0ir/image/upload/v1688463148/landing_1_skhq8d.jpg');
    /* background: url('https://themoodguide.com/wp-content/uploads/2022/07/light-academia-aesthetic-books_the.vintage.library_the-mood-guide.jpg'); */
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    opacity: 1;
    /* Adjust the opacity value as desired */
}

.landing-text {
    color: white;
}


.landing-button {
    background-color: white;
    border-color: white;
    color: #0c6e68;
    border-radius: 0;
    /* font-family: 'Merriweather', serif; */

}

.landing-button:hover {
    background-color: #68B0AB;
    border-color: #68B0AB;
    color: white;
    border-radius: 0;

}

.feature-title {
    margin-bottom: 1rem;
    color: #68B0AB;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.feature-description {
    margin-bottom: 2rem;
    text-align: justify;
}

.divider {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 2px;
    height: 100%;
    background-color: #68B0AB;
}

.custom-text {
    color: #68B0AB;
}

/* Increase the size of the dots*/
.carousel-arrow {
    font-size: 30px !important;
    color: #0c6e68 !important;
}

.slick-arrow:before {
    content: "\2192";
}

.custom-arrow {
    color: #0c6e68;
    border-radius: 10px;
}

.slick-arrow:before,
.slick-arrow:before {
    font-family: slick;
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #0c6e68;
    -webkit-font-smoothing: antialiased;
}

.slick-dots li button:before {
    font-size: 30px !important;
}

/* Increase the active dot size */
.slick-dots li.slick-active button:before {
    font-size: 30px;
}

.profile-li {
    color: #68B0AB;
    font-family: 'Merriweather', serif;
}

.legal-title {
    color: #68B0AB;
    font-family: 'Merriweather', serif;
}

.legal-text {
    text-align: justify;
}

.legal-footnote {
    font-size: 12px;
}

.img-responsive,
.profile-responsive {
    width: auto;
    max-width: 100%;
    height: auto;
}



/* Media Queries!!! Define different styles for different screen sizes */
@media (max-width: 414px) {

    .img-responsive,
    .profile-responsive {
        max-height: 100px;
    }
}

/*  If we wanted to show the logo on the landing page on mobile view
@media (max-width: 570px) {
    .div-landing {
        flex-direction: column-reverse;

    }
} */

.landing-text {
    font-size: calc(1.525rem + 3.3vw);
}

@media (max-width: 582px) {
    .landing-text {
        font-size: 2.4rem;
    }
}

@media (min-width: 583px) and (max-width: 659px) {
    .landing-text {
        font-size: 2.5rem;
    }
}

@media (min-width: 415px) and (max-width: 768px) {

    .img-responsive,
    .profile-responsive {
        max-height: 200px;

    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .img-responsive {
        max-height: 300px;

    }
}

@media (min-width: 769px) {
    .profile-responsive {
        max-height: 250px;

    }
}

@media (min-width: 1025px) {
    .img-responsive {
        max-height: 400px;

    }
}