.login-custom-button {
    background-color: #68B0AB;
    border-color: #68B0AB;
}

.login-custom-button:hover {
    background-color: #128179;
    border-color: #128179;
    color: white;
}

.link-like {
    color: #68B0AB;
    text-decoration: underline;
   
  }